body {
    margin: 0;
    padding: 0;
    background-color: #264653 ;
    font-family: 'Roboto Mono', monospace;
}
@supports (display: flex) {
    @media screen and (min-width: 900px) {
      article {
        display: flex;
      }
    }
  }

.title{
    display: flex;
    flex-direction: row;

}

.P {
    color: white;
    font-size: 4rem;
    padding-left: 9rem;
    transform: rotate(-0.08turn);
}
.R{
    color: white;
    font-size: 4rem;
    transform: rotate(-0.05turn);
    padding-left: 9rem;
}

.O{
    color: white;
    font-size: 4rem;
    transform: rotate(0.02turn);
    padding-left: 9rem;
}

.J{
    color: white;
    font-size: 4rem;
    transform: rotate(0.06turn);
    padding-left: 9rem;
}

.E{
    color: white;
    font-size: 4rem;
    padding-left: 20rem;
    transform: rotate(-0.06turn);
    padding-left: 9rem;
}

.T{
    color: white;
    font-size: 4rem;
    transform: rotate(0.07turn);
    padding-left: 9rem;
}

.S{
    color: white;
    font-size: 4rem;
    transform: rotate(0.05turn);
    padding-left: 9rem;
}


.projet1 {
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 1.5rem;
}

.titleProjet1{
    display: flex;
    min-width: 90%;

}

.numberProjet1{
    display: flex;
    color: #2A9D8F ;
}
.nameProjet1{
 color:white;
}

.lineProjet1 {
    width: 50%;
    border-top: 1px solid #2A9D8F;
    margin-top:2.3rem;
    margin-left: 0.7rem;
    
}

.corpsProjet1{
    display: flex;
    flex-direction: row;
}

.imageProjet1{
    width: 50vh;
}

.descriptionProjet1{
    border: #2A9D8F 1px solid;
    background-color: #2A9D8F;
    min-width: 40%;
    height: 25vh;
    margin-top: 25%;
    box-shadow: 8px 8px 5px black ;
    display: flex;
    flex-direction: row;
}
