body {
    margin: 0;
    padding: 0;
}

.acceuil {
    background: rgb(198,215,235);
    background: linear-gradient(90deg, rgba(198,215,235,1) 0%, rgba(202,188,241,1) 34%, rgba(241,200,222,1) 67%, rgba(240,211,211,1) 100%);
    width: 100%;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    color: #001AFF;
    display: flex;
    flex-direction: column;
}

.name {
    margin: 3vh;
    font-size: 1.8rem;
}

.welcome{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 8vh;
}

.nav{
    display: flex;
    flex-direction: row;
    padding-top: 16vh;
    padding-left: 5vh;
}

.boite {

    border: 0.1rem;
    border-radius: 40px;
    height: 100 px;
    width: 100 px;
    padding: 8vh;
    margin: 2vh;
    background-color: #FFFFFF;
    opacity: 0.60 ;
    font-size: 2rem;
    
}

a{
    text-decoration: none;
}

a:link, a:visited, a:focus {
    color: #001AFF;
}

a:hover{
    color: orange;
}






